body{
    color: white;
    background-color: #202020;
}



header{
    background-image:url("../Assets/bg.png") ;
    display: flex;
    height: 100vmin;
    color: white;
    background-position: center;
}
.big-head1{
    margin:  1rem;
    display: flex;
    color: white;
    list-style: none;
    justify-content: flex-end;
    margin-top: 0.5rem;
    padding-right: 5rem;
    }
    
    .list4{
        padding-left: 1rem;
    }
    .list3{
        padding-left: 1rem;
    }
        .list2{
            padding-left: 1rem;
        }
        .list1{
            padding-left: 1rem;
    }

.small{
    justify-content: ;
}
.left-col{
    display: flex;
    align-items: center;
    flex-direction: column;
    /* padding-right: 60rem; */
    height: 90vmin;
    padding-left: 7rem;
    margin-top: 4rem;
}

.h1D{
    padding-right: 49rem;
    margin-top: 2rem;
}
.bot{
    background-color: transparent;
    color: #f5f4f4;
    outline: none;
    border: 2px solid #f5f4f4;
    padding: 0.8rem 3rem !important;
    font-size: 1.2rem;

}
.big-head2{
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: 65rem;
    list-style: none;

}
.fa-twitter{
    margin-top: 1rem;
}
.fa-instagram{
    margin-top: 1rem;
}
.fa-facebook{
    margin-top: 1rem;
}

    
  #about .container{
      float: left;
      display: flex;
     
  }
  

  .text{
    padding-left: 10rem;
    margin-top: 8rem;
    margin-right: 12rem;
  }
  #gallery{
      height: 100vmin;
  }
  #gallery .box {
    height: 22rem;
    margin-bottom: 2rem;
  }
  .box img {
    width: 100%;
    height: 100%;
    border-radius: 50rem;
  }
  #gallery .box-wrapper {
    display: flex;
    float: left;
    flex-direction: row;
    margin-top: 3rem;
    justify-content: space-between;
  }
  #gallery .box {
    width: 30%;
  }
  .kan{
    margin: 0rem;
    margin-bottom: 3rem;
    list-style: none;
    }
    .king{
      margin-top: 12rem;
    }
    .container3{
        width: 50%;
        max-width: 85%;
        margin-left: 40rem;
        
    }
    .form-group{
        display: flex;
         align-items: center;
         margin-bottom: 1rem;
  
    }

    .form-control {
        display: inline-block;
        width: 80%;
        background-color: transparent;
        color: #f5f4f4;
        outline: none;
        border: 2px solid #f5f4f4;
        padding: 0.5rem 15rem !important;
        font-size: 1.2rem;
      }